{% if popup %}
    <style>
        {{ popup.customCss }}
    </style>

    <div class="ui modal {{ popup.cssClass }}" id="workouse-popup-plugin-modal">
        {% if popup.title %}
            <div class="header">{{ popup.title }}</div>
        {% endif %}
        <div class="content">
            {{ popup.content|raw }}
        </div>
        {% if popup.closeEnabled or popup.buttonText %}
            <div class="actions">
                {% if popup.closeEnabled %}
                    <div class="ui black deny button">
                        Close
                    </div>
                {% endif %}
                {% if popup.buttonText %}
                    <a href="{{ popup.buttonLink }}" class="ui positive right labeled icon button">
                        {{ popup.buttonText }}
                        <i class="checkmark icon"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}

    </div>
    <div id="popup" data-popup-id="{{ popup.id }}" data-popup-rules="{{ popup.rules|json_encode }}"></div>
    <script>
        const openPopup = () => {
            $('#workouse-popup-plugin-modal')
                .modal('show')
            ;
        };

        const popup = document.querySelector("#popup");
        const popupId = popup.getAttribute('data-popup-id');
        const rules = JSON.parse(popup.getAttribute('data-popup-rules'));

        const [showOnlyOnce] = rules;

        if (showOnlyOnce) {
            const wp = localStorage.getItem(`WP_${popupId}`)
            if (!wp) {
                openPopup();
                localStorage.setItem(`WP_${popupId}`, true)
            }
        } else {
            openPopup();
        }
    </script>
{% endif %}
